--extra-index-url https://artifacts-433714148419.d.codeartifact.us-east-2.amazonaws.com/pypi/pypi/simple

argcomplete==2.0.0 ; python_version >= "3.8" and python_full_version < "3.12.0"
arrow==1.2.1 ; python_version >= "3.8" and python_full_version < "3.12.0"
astroid==2.13.3 ; python_version >= "3.8" and python_full_version < "3.12.0"
asttokens==2.2.1 ; python_version >= "3.8" and python_full_version < "3.12.0" and sys_platform != "win32"
attrs==22.2.0 ; python_version >= "3.8" and python_full_version < "3.12.0"
backports-entry-points-selectable==1.2.0 ; python_version >= "3.8" and python_full_version < "3.12.0"
bandit==1.7.4 ; python_version >= "3.8" and python_full_version < "3.12.0"
black==22.10.0 ; python_version >= "3.8" and python_full_version < "3.12.0"
build==0.10.0 ; python_version >= "3.8" and python_full_version < "3.12.0"
bump2version==1.0.2b4 ; python_version >= "3.8" and python_full_version < "3.12.0"
cachecontrol==0.12.12 ; python_version >= "3.8" and python_full_version < "3.12.0"
cachecontrol[filecache]==0.12.12 ; python_version >= "3.8" and python_full_version < "3.12.0"
certifi==2022.12.7 ; python_version >= "3.8" and python_full_version < "3.12.0"
cffi==1.15.1 ; python_version >= "3.8" and python_full_version < "3.12.0" and sys_platform == "darwin" or python_version >= "3.8" and python_full_version < "3.12.0" and sys_platform == "linux"
cfgv==3.3.1 ; python_version >= "3.8" and python_full_version < "3.12.0"
charset-normalizer==2.1.1 ; python_version >= "3.8" and python_full_version < "3.12.0"
cleo==2.0.1 ; python_version >= "3.8" and python_full_version < "3.12.0"
click==8.0.3 ; python_version >= "3.8" and python_full_version < "3.12.0"
colorama==0.4.6 ; python_version >= "3.8" and python_full_version < "3.12.0"
commitizen==2.40.0 ; python_version >= "3.8" and python_full_version < "3.12.0"
commonmark==0.9.1 ; python_version >= "3.8" and python_full_version < "3.12.0" and sys_platform != "win32"
coverage==6.5.0 ; python_version >= "3.8" and python_full_version < "3.12.0"
coverage[toml]==6.5.0 ; python_version >= "3.8" and python_full_version < "3.12.0"
crashtest==0.4.1 ; python_version >= "3.8" and python_full_version < "3.12.0"
cryptography==39.0.0 ; python_version >= "3.8" and python_full_version < "3.12.0" and sys_platform == "linux"
cyclic==1.0.0 ; python_version >= "3.8" and python_full_version < "3.12.0"
decli==0.5.2 ; python_version >= "3.8" and python_full_version < "3.12.0"
dill==0.3.6 ; python_version >= "3.8" and python_full_version < "3.12.0"
distlib==0.3.6 ; python_version >= "3.8" and python_full_version < "3.12.0"
docstring-parser==0.15 ; python_version >= "3.8" and python_full_version < "3.12.0"
docutils==0.19 ; python_version >= "3.8" and python_full_version < "3.12.0"
dodgy==0.2.1 ; python_version >= "3.8" and python_full_version < "3.12.0"
dulwich==0.20.50 ; python_version >= "3.8" and python_full_version < "3.12.0"
exceptiongroup==1.1.0 ; python_version >= "3.8" and python_version < "3.11"
executing==1.2.0 ; python_version >= "3.8" and python_full_version < "3.12.0" and sys_platform != "win32"
falcon==2.0.0 ; python_version >= "3.8" and python_full_version < "3.12.0"
filelock==3.9.0 ; python_version >= "3.8" and python_full_version < "3.12.0"
flake8-polyfill==1.0.2 ; python_version >= "3.8" and python_full_version < "3.12.0"
flake8==2.3.0 ; python_version >= "3.8" and python_full_version < "3.12.0"
future==0.18.3 ; python_version >= "3.8" and python_full_version < "3.12.0"
ghp-import==2.1.0 ; python_version >= "3.8" and python_full_version < "3.12.0"
gitdb==4.0.10 ; python_version >= "3.8" and python_full_version < "3.12.0"
gitlint-core[trusted-deps]==0.18.0 ; python_version >= "3.8" and python_full_version < "3.12.0"
gitlint==0.18.0 ; python_version >= "3.8" and python_full_version < "3.12.0"
gitpython==3.1.30 ; python_version >= "3.8" and python_full_version < "3.12.0"
html5lib==1.1 ; python_version >= "3.8" and python_full_version < "3.12.0"
hug==2.6.1 ; python_version >= "3.8" and python_full_version < "3.12.0"
icecream==2.1.3 ; python_version >= "3.8" and python_full_version < "3.12.0" and sys_platform != "win32"
identify==2.5.15 ; python_version >= "3.8" and python_full_version < "3.12.0"
idna==3.4 ; python_version >= "3.8" and python_full_version < "3.12.0"
importlib-metadata==4.13.0 ; python_version >= "3.8" and python_version < "3.12"
importlib-resources==5.10.2 ; python_version >= "3.8" and python_version < "3.9"
inflection==0.5.1 ; python_version >= "3.8" and python_full_version < "3.12.0"
iniconfig==2.0.0 ; python_version >= "3.8" and python_full_version < "3.12.0"
invoke==1.7.3 ; python_version >= "3.8" and python_full_version < "3.12.0"
isort==5.10.1 ; python_version >= "3.8" and python_full_version < "3.12.0"
jaraco-classes==3.2.3 ; python_version >= "3.8" and python_full_version < "3.12.0"
jeepney==0.8.0 ; python_version >= "3.8" and python_full_version < "3.12.0" and sys_platform == "linux"
jinja2==3.1.2 ; python_version >= "3.8" and python_full_version < "3.12.0"
jsonschema==4.17.3 ; python_version >= "3.8" and python_full_version < "3.12.0"
keyring==23.13.1 ; python_version >= "3.8" and python_full_version < "3.12.0"
lazy-object-proxy==1.9.0 ; python_version >= "3.8" and python_full_version < "3.12.0"
livereload==2.6.3 ; python_version >= "3.8" and python_full_version < "3.12.0"
lockfile==0.12.2 ; python_version >= "3.8" and python_full_version < "3.12.0"
mako==1.2.4 ; python_version >= "3.8" and python_full_version < "3.12.0"
mando==0.6.4 ; python_version >= "3.8" and python_full_version < "3.12.0"
markdown==3.3.7 ; python_version >= "3.8" and python_full_version < "3.12.0"
markupsafe==2.1.2 ; python_version >= "3.8" and python_full_version < "3.12.0"
mccabe==0.7.0 ; python_version >= "3.8" and python_full_version < "3.12.0"
mdx-include==1.4.2 ; python_version >= "3.8" and python_full_version < "3.12.0"
mergedeep==1.3.4 ; python_version >= "3.8" and python_full_version < "3.12.0"
mkdocs-markdownextradata-plugin==0.2.5 ; python_version >= "3.8" and python_full_version < "3.12.0"
mkdocs-material-extensions==1.1.1 ; python_version >= "3.8" and python_full_version < "3.12.0"
mkdocs-material==8.5.4 ; python_version >= "3.8" and python_full_version < "3.12.0"
mkdocs==1.3.1 ; python_version >= "3.8" and python_full_version < "3.12.0"
more-itertools==9.0.0 ; python_version >= "3.8" and python_full_version < "3.12.0"
msgpack==1.0.4 ; python_version >= "3.8" and python_full_version < "3.12.0"
mypy-extensions==0.4.3 ; python_version >= "3.8" and python_full_version < "3.12.0"
mypy==0.991 ; python_version >= "3.8" and python_full_version < "3.12.0"
nodeenv==1.7.0 ; python_version >= "3.8" and python_full_version < "3.12.0"
packaging==21.3 ; python_version >= "3.8" and python_full_version < "3.12.0"
pastel==0.2.1 ; python_version >= "3.8" and python_full_version < "3.12.0"
pathspec==0.11.0 ; python_version >= "3.8" and python_full_version < "3.12.0"
pbr==5.11.1 ; python_version >= "3.8" and python_full_version < "3.12.0"
pdbr==0.7.5 ; python_version >= "3.8" and python_full_version < "3.12.0" and sys_platform != "win32"
pdocs @ git+https://github.com/christokur/pdocs.git@master ; python_version >= "3.8" and python_full_version < "3.12.0"
pep517==0.13.0 ; python_version >= "3.8" and python_full_version < "3.12.0"
pep8-naming==0.10.0 ; python_version >= "3.8" and python_full_version < "3.12.0"
pep8==1.7.1 ; python_version >= "3.8" and python_full_version < "3.12.0"
pexpect==4.8.0 ; python_version >= "3.8" and python_full_version < "3.12.0"
pip==22.3.1 ; python_version >= "3.8" and python_full_version < "3.12.0"
pkginfo==1.9.6 ; python_version >= "3.8" and python_full_version < "3.12.0"
pkgutil-resolve-name==1.3.10 ; python_version >= "3.8" and python_version < "3.9"
platformdirs==2.6.2 ; python_version >= "3.8" and python_full_version < "3.12.0"
pluggy==1.0.0 ; python_version >= "3.8" and python_full_version < "3.12.0"
poethepoet==0.15.0 ; python_version >= "3.8" and python_full_version < "3.12.0"
poetry-core==1.4.0 ; python_version >= "3.8" and python_full_version < "3.12.0"
poetry-plugin-bump2version==0.9.0 ; python_version >= "3.8" and python_full_version < "3.12.0"
poetry-plugin-export==1.2.0 ; python_version >= "3.8" and python_full_version < "3.12.0"
poetry-semver==0.1.0 ; python_version >= "3.8" and python_full_version < "3.12.0"
poetry==1.3.2 ; python_version >= "3.8" and python_full_version < "3.12.0"
portray @ git+https://github.com/christokur/portray.git@main ; python_version >= "3.8" and python_full_version < "3.12.0"
pre-commit==2.21.0 ; python_version >= "3.8" and python_full_version < "3.12.0"
prompt-toolkit==3.0.36 ; python_version >= "3.8" and python_full_version < "3.12.0"
prospector[with-everything] @ git+https://github.com/christokur/prospector.git@master ; python_version >= "3.8" and python_full_version < "3.12.0"
ptyprocess==0.7.0 ; python_version >= "3.8" and python_full_version < "3.12.0"
py==1.11.0 ; python_version >= "3.8" and python_full_version < "3.12.0"
pycodestyle==2.10.0 ; python_version >= "3.8" and python_full_version < "3.12.0"
pycparser==2.21 ; python_version >= "3.8" and python_full_version < "3.12.0" and sys_platform == "darwin" or python_version >= "3.8" and python_full_version < "3.12.0" and sys_platform == "linux"
pydantic==1.10.4 ; python_version >= "3.8" and python_full_version < "3.12.0"
pydocstyle==6.1.1 ; python_version >= "3.8" and python_full_version < "3.12.0"
pydocstyle[toml]==6.1.1 ; python_version >= "3.8" and python_full_version < "3.12.0"
pyflakes==2.5.0 ; python_version >= "3.8" and python_full_version < "3.12.0"
pygments==2.14.0 ; python_version >= "3.8" and python_full_version < "3.12.0"
pylint-celery==0.3 ; python_version >= "3.8" and python_full_version < "3.12.0"
pylint-django==2.5.3 ; python_version >= "3.8" and python_full_version < "3.12.0"
pylint-flask==0.6 ; python_version >= "3.8" and python_full_version < "3.12.0"
pylint-plugin-utils==0.7 ; python_version >= "3.8" and python_full_version < "3.12.0"
pylint==2.15.10 ; python_version >= "3.8" and python_full_version < "3.12.0"
pymdown-extensions==9.9.2 ; python_version >= "3.8" and python_full_version < "3.12.0"
pyparsing==3.0.9 ; python_version >= "3.8" and python_full_version < "3.12.0"
pyproject-fmt==0.3.5 ; python_version >= "3.8" and python_full_version < "3.12.0"
pyproject-hooks==1.0.0 ; python_version >= "3.8" and python_full_version < "3.12.0"
pyroma==4.1 ; python_version >= "3.8" and python_full_version < "3.12.0"
pyrsistent==0.19.3 ; python_version >= "3.8" and python_full_version < "3.12.0"
pytest-click==1.1.0 ; python_version >= "3.8" and python_full_version < "3.12.0"
pytest-cov==4.0.0 ; python_version >= "3.8" and python_full_version < "3.12.0"
pytest-doctestplus==0.12.1 ; python_version >= "3.8" and python_full_version < "3.12.0"
pytest-html==3.2.0 ; python_version >= "3.8" and python_full_version < "3.12.0"
pytest-metadata==2.0.4 ; python_version >= "3.8" and python_full_version < "3.12.0"
pytest==7.2.1 ; python_version >= "3.8" and python_full_version < "3.12.0"
python-coveralls==2.9.3 ; python_version >= "3.8" and python_full_version < "3.12.0"
python-dateutil==2.8.2 ; python_version >= "3.8" and python_full_version < "3.12.0"
pywin32-ctypes==0.2.0 ; python_version >= "3.8" and python_full_version < "3.12.0" and sys_platform == "win32"
pyyaml-env-tag==0.1 ; python_version >= "3.8" and python_full_version < "3.12.0"
pyyaml==6.0 ; python_version >= "3.8" and python_full_version < "3.12.0"
questionary==1.10.0 ; python_version >= "3.8" and python_full_version < "3.12.0"
radon==5.1.0 ; python_version >= "3.8" and python_full_version < "3.12.0"
rapidfuzz==2.13.7 ; python_version >= "3.8" and python_full_version < "3.12.0"
rcslice==1.1.0 ; python_version >= "3.8" and python_full_version < "3.12.0"
requests-toolbelt==0.10.1 ; python_version >= "3.8" and python_full_version < "3.12.0"
requests==2.28.2 ; python_version >= "3.8" and python_full_version < "3.12.0"
requirements-detector==1.0.3 ; python_version >= "3.8" and python_full_version < "3.12.0"
rich==12.6.0 ; python_version >= "3.8" and python_full_version < "3.12.0" and sys_platform != "win32"
secretstorage==3.3.3 ; python_version >= "3.8" and python_full_version < "3.12.0" and sys_platform == "linux"
setoptconf-tmp==0.3.1 ; python_version >= "3.8" and python_full_version < "3.12.0"
setuptools==66.1.1 ; python_version >= "3.8" and python_full_version < "3.12.0"
sh==1.14.2 ; python_version >= "3.8" and python_full_version < "3.12.0" and sys_platform != "win32"
shellingham==1.5.0.post1 ; python_version >= "3.8" and python_full_version < "3.12.0"
six==1.16.0 ; python_version >= "3.8" and python_full_version < "3.12.0"
smmap==5.0.0 ; python_version >= "3.8" and python_full_version < "3.12.0"
snowballstemmer==2.2.0 ; python_version >= "3.8" and python_full_version < "3.12.0"
sqlparse==0.4.3 ; python_version >= "3.8" and python_full_version < "3.12.0" and sys_platform != "win32"
stevedore==4.1.1 ; python_version >= "3.8" and python_full_version < "3.12.0"
termcolor==2.2.0 ; python_version >= "3.8" and python_full_version < "3.12.0"
toml==0.10.2 ; python_version >= "3.8" and python_full_version < "3.12.0"
tomli==2.0.1 ; python_version >= "3.8" and python_full_version < "3.12.0"
tomlkit==0.11.6 ; python_version >= "3.8" and python_full_version < "3.12.0"
tornado==6.2 ; python_version >= "3.8" and python_full_version < "3.12.0"
trove-classifiers==2023.1.20 ; python_version >= "3.8" and python_full_version < "3.12.0"
typing-extensions==4.4.0 ; python_version >= "3.8" and python_full_version < "3.12.0"
urllib3==1.26.14 ; python_version >= "3.8" and python_full_version < "3.12.0"
virtualenv==20.10.0 ; python_version >= "3.8" and python_full_version < "3.12.0"
vulture==2.7 ; python_version >= "3.8" and python_full_version < "3.12.0"
watchdog==2.2.1 ; python_version >= "3.8" and python_full_version < "3.12.0"
wcwidth==0.2.6 ; python_version >= "3.8" and python_full_version < "3.12.0"
webencodings==0.5.1 ; python_version >= "3.8" and python_full_version < "3.12.0"
wheel==0.38.4 ; python_version >= "3.8" and python_full_version < "3.12.0"
wrapt==1.14.1 ; python_version >= "3.8" and python_full_version < "3.12.0"
xattr==0.10.1 ; python_version >= "3.8" and python_full_version < "3.12.0" and sys_platform == "darwin"
yaspin==2.3.0 ; python_version >= "3.8" and python_full_version < "3.12.0"
zipp==3.11.0 ; python_version >= "3.8" and python_version < "3.12"
